<script src="{{ "/vendor/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/jquery-easing/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/bootstrap/js/bootstrap.bundle.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/agency/js/agency.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/agency/js/contact_me.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/vendor/bootstrap-validation/jqBootstrapValidation.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>