---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

    <body id="page-top" class="index">
    {% include sitenav.html %}

    <!-- Intro -->
    <header class="masthead">
      <div class="container">
          <div class="intro-text">
          <div class="intro-lead-in">{{ site.data.intro.line1 }}</div>
          <div class="intro-heading text-uppercase">{{ site.data.intro.line2 }}</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#welcome">{{ site.data.intro.calltoaction }}</a>
          </div>
      </div>
    </header>

    <!-- Welcome -->
    <section class="bg-light" id="welcome">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">{{ site.data.welcome.title }}</h2>
              <h3 class="section-subheading text-muted">{{ site.data.welcome.subtitle }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="team-member">
                <img class="mx-auto rounded-circle" src="{{ site.data.global.avatar }}" alt="{{ site.data.global.author }}">
                <h4>{{ site.data.global.author }}</h4>
                <p class="text-muted">{{ site.data.global.role }}</p>
                <ul class="list-inline social-buttons">
                  {% for network in site.data.global.social %}
                  <li class="list-inline-item">
                      <a href="{{ network.url }}" title="{{ network.name }}">
                        <i class="fa {{ network.icon }}"></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
            <div class="col-sm-4"></div>
          </div>
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <p class="large text-muted">{{ site.data.welcome.content | markdownify }}</p>
            </div>
          </div>
        </div>
      </section>
    
    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">{{ site.data.services.title }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.services.subtitle }}</h3>
          </div>
        </div>
        <div class="row text-center">
          {% for package in site.data.services.packages %}
            <div class="col-sm-6 col-lg-3">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa {{ package.icon }} fa-stack-1x fa-inverse"></i>
              </span>
              <h4 class="service-heading">{{ package.name }}</h4>
              <h6 class="section-subheading text-muted">{{ package.subtitle }}</h6>
              <p>{{package.description | markdownify}}</p>
              <p><a class="btn btn-primary btn-md text-uppercase js-scroll-trigger" href="#">Book Free Consult</a></p>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Resources -->
    <section class="bg-light" id="resources" class="portfolio">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">{{ site.data.resources.title }}</h2>
              <h3 class="section-subheading text-muted">{{ site.data.resources.subtitle }}</h3>
            </div>
          </div>
          <div class="row">
            {% for resource in site.data.resources.resources %}
            <div class="col-md-4 col-sm-6 portfolio-item">
              <a class="portfolio-link" href="{{ resource.link }}">
                <div class="portfolio-hover">
                  <div class="portfolio-hover-content">
                    <i class="fa fa-link fa-3x"></i>
                  </div>
                </div>
                <img class="img-fluid" src="{{ resource.image }}" alt="">
              </a>
              <div class="portfolio-caption">
                <h4>{{ resource.title }}</h4>
                <p class="text-muted">{{ resource.subtitle }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    
    <!-- Testimonials -->
    <section id="testimonials">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">{{site.data.testimonials.title}}</h2>
              <h3 class="section-subheading text-muted">{{site.data.testimonials.subtitle}}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <ul class="timeline">
                {% for testimonial in site.data.testimonials.testimonials %}
                <li>
                  <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="{{testimonial.image}}" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>{{testimonial.name}}</h4>
                      <h4 class="subheading text-muted">{{testimonial.program}}</h4>
                    </div>
                    <div class="timeline-body">
                      <blockquote>{{testimonial.quote}}</blockquote>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </section>

    <!-- Affiliations -->
    <section class="py-5">
        <div class="container">
          <div class="row">
           {% for company in site.data.affiliations.companies %}
            <div class="col-md-4">
              <a href="{{ company.url }}">
                <img class="img-responsive d-block mx-auto" src="{{ company.image }}" alt="">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
    
    {% include contact.html %}
    {% include footer.html %}
    {% include scripts.html %}

    </body>
</html>